.leaderboard-list {}

.leaderboard-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin: 12px 0;
}

.leaderboard-item .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #233D4D;
    color: #fff;
    height: 30px;
    min-width: 30px;
    border-radius: 30px;
    font-size: 12px;
}

.leaderboard-item .rank.gold {
    background: linear-gradient(41.75deg, #FE7F2D 22.78%, #FCCA46 87.18%);
}

.leaderboard-item .rank.silver {
    background: linear-gradient(41.75deg, #D8D8D8 22.78%, #999999 87.18%);
}

.leaderboard-item .rank.bronze {
    background: linear-gradient(41.75deg, #956956 22.78%, #D79376 87.18%);
}

.leaderboard-item .user-profile-img img {
    border-radius: 64px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 16px;
}

.leaderboard-item .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.leaderboard-item .guess-error {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}