.header {
    height: 120px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .logo-top-left {
    width: 140px;
    height: 33px;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    color: var(--color-primary-green);
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.menu-btn .material-icons {
    font-size: 26px;
}

@media (min-width:601px) {
    .header {
        padding: 0 70px;
    }
}

/* --------------------------- navigation desktop --------------------------- */

.nav-items-desktop {
    font-size: 16px;
}

.nav-items-desktop .btn {
    height: 40px;
    width: 40px;
    border-radius: 64px;
    padding: 0;
    margin: 0 8px;
}

.nav-items-desktop .nav-buttons {
    display: flex;
    align-items: center;
}

.nav-items-desktop .nav-item-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items-desktop .nav-item-list :nth-child(1)>*,
.nav-item {
    margin: 0 8px;

}

.nav-items-desktop .nav-item .sign-in-text>* {
    display: inline;
}

/* -------------------------- header type new user -------------------------- */

.nav-items-desktop.new-user .body {
    color: #000;
}

/* -------------------------- header type logged in ------------------------- */
.nav-items-desktop.logged-in {
    display: flex;
    flex-direction: row;
}

.nav-items-desktop.logged-in .nav-item {
    margin: 24px;
}

.nav-items-desktop.logged-in .nav-buttons {
    margin-left: 24px;
}


@media screen and (min-width:601px) {
    .header {
        box-shadow: none;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  side nav                                  */
/* -------------------------------------------------------------------------- */

@media (max-width:601px) {
    body.no-scroll {
        height: 100vh;
        overflow-y: hidden;
    }
}

.side-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    padding: 0 35px;
    overflow: hidden;
}

.side-nav .nav-header {
    height: 93px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.side-nav .user-name {
    font-size: 24px;
    margin: 0 30px;
}

.nav-profile {
    display: flex;
    align-items: center;
}

.nav-items-list {
    list-style-type: none;
    padding: 0;
    margin: 32px 0;
}

.nav-items-list .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    transition: 0.5s ease-in;
}

.nav-items-list .nav-item-positive {
    color: var(--color-primary-green);
}

.nav-item .body {
    font-size: 24px;
    line-height: 28px;
}

.nav-item .material-icons {
    font-size: 28px;
}

.nav-items-list .nav-item:active {
    background-color: #4a4a4a99;
}

/* --------------------------------- common --------------------------------- */
.profile-img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 50%;
}