@media (min-width:601px){
    .dashboard-page-container .header4, .body{
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }

    .dashboard-page-container .img-list-container{
        margin-top: 24px;
    }
}