.btn-circle {
    align-self: center;
}

.layout-brand {
    display: flex;
}

.layout-brand-left-half {
    margin: 0 auto;
    padding: 64px 34px;
}

.layout-brand-right-half {
    display: none;
}

@media (min-width: 601px) {
    .layout-brand {
        overflow-y: none;
    }

    .layout-brand-right-half {
        display: block;
        flex: 50%;
    }
}

@media (min-width:992px) {
    .layout-brand-left-half {
        flex: 50%;
        padding: 48px 88px;
    }
}

.select-profile-img {
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: 64px;
    overflow: hidden;
    border: 0;
    margin: 24px auto;
}

.select-profile-img .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select-profile-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}