@tailwind base;
@tailwind components;

.c-autocomplete .geoapify-autocomplete-input {
  @apply inline-block w-full rounded-md focus:bg-patina-200 focus:placeholder-gray-500;
}

.geoapify-close-button {
}

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
