@tailwind base;
@tailwind components;

.c-autocomplete .geoapify-autocomplete-input {
  @apply inline-block h-10 w-full rounded-md focus:bg-patina-100 focus:placeholder-gray-500;
}



.c-leaderboard-item .rank.gold {
  background: linear-gradient(41.75deg, #FE7F2D 22.78%, #FCCA46 87.18%);
}

.c-leaderboard-item .rank.silver {
  background: linear-gradient(41.75deg, #D8D8D8 22.78%, #999999 87.18%);
}

.c-leaderboard-item .rank.bronze {
  background: linear-gradient(41.75deg, #956956 22.78%, #D79376 87.18%);
}


@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
